$primary-color: #0c8599;
$secondary-color: #ff7f50;
$accent-color: #1098ad;
$background-color: #e3fafc;
$text-size: 2rem;
$title-size: 4rem;
$text-margin: 0 2em 2em 2em;
$title-margin: 0 1em 0.5em 1em;
$main-title-size: 5rem;
